.createleadcontent {
    position: relative;
    max-width: 500px;
    background: #252C48;
    border-color: #252C48;
    padding: 10px;
    height: auto;
    margin-top: 70px;
    margin-left: 390px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.form {
    position: relative;
    color: #5B647F;
}

.form input {
    border: none;
    background: none;
    outline: none;
    color: white;
}

.signin {
    color: white;
    text-align: center;
}

.createleadbutton {
    text-align: center;
    font-size: 25;
    height: 80px;
}

.forgot {
    text-decoration: underline;
    color: #FFFFFF80;
}


