.topnavbar {
    margin-left: 215px;
    overflow: hidden;
    width: auto;
    height: 70px;
    font-size: 20px;
    background-color: #252C48;
}

.profile{
    padding-left: 658px;
}

.navsearchbar{
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    width: 400px;
}

.faicon{
    color: white;
    margin-top: 25px;
    margin-left: 25px;
}

input {
    border: none;
    background: none;
    outline: none;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  